*.o
*~
*.fa
# eclipse excludes
.cproject
.project
.settings
doxygen
src/SequenceSimulation/simulation_main
src/alignment/State_test
src/GameMain/game_main
src/ML/pytorch/example/mnist
src/ML/pytorch/example/net.pt
src/ML/pytorch/libtorch/

